n8n-portfolio/workflows/daily-bean-feedback/workflow.json
{
  "name": "Daily Bean Feedback",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Daily Bean Feedback n8n ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1701422629,
          "mode": "list",
          "cachedResultName": "Test Data - convert",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=1701422629"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3f3c292d-979f-40d0-9b75-594adbba633c",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43d136a4-96fb-4759-9bd8-63abbff6f6a9",
              "name": "Name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "754e33d9-4879-49f3-9201-d0c2bd4ffc42",
              "name": "Contact",
              "value": "={{ $json.Contact }}",
              "type": "string"
            },
            {
              "id": "30ef455b-b576-4669-b922-503a9121ed6e",
              "name": "Feedback",
              "value": "={{ $json.Feedback }}",
              "type": "string"
            },
            {
              "id": "a63971f8-68cd-4aee-8ae0-0375b58c6851",
              "name": "Timestamp",
              "value": "={{ $json.Timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "4dd78798-5be3-4bb8-9ac2-40f33b0d7c18",
      "name": "Extract Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Task:\nAnalyze the customer\u2019s feedback and determine (1) its category and (2) the relevant business area (Daily Bean Cafe).\n\nInput:\nFeedback: {{ $json.Feedback }}\n\nValid Categories:\n- question\n- problem\n- suggestion\n- other\n- unknown, if the feedback is missing, empty, irrelevant, or cannot be interpreted\n\nValid Areas:\n- kitchen\n- delivery\n- service\n- other\n- unknown, if the feedback is missing, empty, irrelevant, or cannot be interpreted\n\nInstructions:\n- NEVER create new labels, If unsure \u2192 set \"other\"\n- First validate that the feedback text is meaningful (not empty, null, too short to interpret, or containing only non-informative content).\n- If feedback is valid, classify it into one category and one area from the provided lists.\n- If classification is not possible, use the fallback \"unknown\" for the unassignable part(s).\n- Base your decision strictly on the content of the feedback.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "359bd448-807e-40ed-978d-fbb7fb41daf1",
      "name": "AI Categorization"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        208
      ],
      "id": "8d5e7086-a684-473b-a04b-aea261f11bf5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"category\": \"question\",\n\"area\": \"kitchen\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        208
      ],
      "id": "1f06dfa6-8158-4db6-8838-684463dc47d5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a97294c-3757-47cd-8586-2fed0fce5dd2",
              "name": "output.category",
              "value": "={{ $json.output.category.toLowerCase()}}",
              "type": "string"
            },
            {
              "id": "95318025-19ae-429c-81c2-3804ae7a4f8c",
              "name": "output.area",
              "value": "={{ $json.output.area.toLowerCase() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        0
      ],
      "id": "dec83e24-f912-432d-920e-282fbe2748ec",
      "name": "Normalized Labels"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Daily Bean Feedback n8n ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1701422629,
          "mode": "list",
          "cachedResultName": "Test Data - convert",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=1701422629"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Google Sheets Trigger').item.json.ID }}",
            "Category": "={{ $json.output.category }}",
            "Area": "={{ $json.output.area }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact",
              "displayName": "Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Area",
              "displayName": "Area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Responsible",
              "displayName": "Responsible",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "28f4106b-d42e-4ac2-9b8c-af01c4efea35",
      "name": "Update Feedback Row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "db951d03-1006-4c83-9b37-d9fe1ab615a8",
              "leftValue": "={{ $('Normalized Labels').item.json.output.category }}",
              "rightValue": "unknown",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "8ec5e1ed-d2f4-4c8d-9211-4063b4b0662c",
              "leftValue": "={{ $('Normalized Labels').item.json.output.area }}",
              "rightValue": "unknown",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1184,
        0
      ],
      "id": "26716ed4-a588-4de2-bb75-959ab0bea402",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Normalized Labels').item.json.output.area }}",
                    "rightValue": "kitchen",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2c57f7bb-eb68-4df1-a62c-74c2a9f3ac40"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "kitchen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "14aa43c0-e4c8-47c3-90cb-fff77968ac22",
                    "leftValue": "={{ $('Normalized Labels').item.json.output.area }}",
                    "rightValue": "delivery",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delivery"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f5fe3399-2680-4d1c-be34-9a877b16c269",
                    "leftValue": "={{ $('Normalized Labels').item.json.output.area }}",
                    "rightValue": "service",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "service"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1392,
        -16
      ],
      "id": "4213e330-6f81-4799-9ca4-72b3489c3849",
      "name": "Route by area"
    },
    {
      "parameters": {
        "sendTo": "krishna1996sai@gmail.com",
        "subject": "=\ud83d\udd14 {{ $('Normalized Labels').item.json.output.category }}",
        "emailType": "text",
        "message": "=Hi team,\n\nA new feedback came in:\n\nFeedback: {{ $('Extract Data').item.json.Feedback }}\nCategory: {{ $('Normalized Labels').item.json.output.category }}\nArea: {{ $('Normalized Labels').item.json.output.area }}\nTimestamp: {{ $('Extract Data').item.json.Timestamp }}\n\n\u2013 Daily Bean Feedback Agent\n\n",
        "options": {
          "senderName": "Feedback Collector"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1696,
        -224
      ],
      "id": "8653e552-7c28-47a2-9eff-28e51ecd9d6d",
      "name": "Kitchen",
      "webhookId": "YOUR_WEBHOOKID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "krishna1996sai@gmail.com",
        "subject": "=\ud83d\udd14 {{ $('Normalized Labels').item.json.output.category }}",
        "emailType": "text",
        "message": "=Hi team,\n\nA new feedback came in:\n\nFeedback: {{ $('Extract Data').item.json.Feedback }}\nCategory: {{ $('Normalized Labels').item.json.output.category }}\nArea: {{ $('Normalized Labels').item.json.output.area }}\nTimestamp: {{ $('Extract Data').item.json.Timestamp }}\n\n\u2013 Daily Bean Feedback Agent\n\n",
        "options": {
          "senderName": "Feedback Collector"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1696,
        -64
      ],
      "id": "f2145b0b-9d05-4bfb-9862-07bfbc91161b",
      "name": "Delivery",
      "webhookId": "YOUR_WEBHOOKID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "krishna1996sai@gmail.com",
        "subject": "=\ud83d\udd14 {{ $('Normalized Labels').item.json.output.category }}",
        "emailType": "text",
        "message": "=Hi team,\n\nA new feedback came in:\n\nFeedback: {{ $('Extract Data').item.json.Feedback }}\nCategory: {{ $('Normalized Labels').item.json.output.category }}\nArea: {{ $('Normalized Labels').item.json.output.area }}\nTimestamp: {{ $('Extract Data').item.json.Timestamp }}\n\n\u2013 Daily Bean Feedback Agent\n\n",
        "options": {
          "senderName": "Feedback Collector"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1696,
        80
      ],
      "id": "f0d97682-b442-449b-8b44-7d24850c189c",
      "name": "Service",
      "webhookId": "YOUR_WEBHOOKID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "krishna1996sai@gmail.com",
        "subject": "=\ud83d\udd14 {{ $('Normalized Labels').item.json.output.category }}",
        "emailType": "text",
        "message": "=Hi team,\n\nA new feedback came in:\n\nFeedback: {{ $('Extract Data').item.json.Feedback }}\nCategory: {{ $('Normalized Labels').item.json.output.category }}\nArea: {{ $('Normalized Labels').item.json.output.area }}\nTimestamp: {{ $('Extract Data').item.json.Timestamp }}\n\n\u2013 Daily Bean Feedback Agent\n\n",
        "options": {
          "senderName": "Feedback Collector"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1696,
        240
      ],
      "id": "1e0e3196-f0fb-4a46-91e0-83d4b143c887",
      "name": "Fallback",
      "webhookId": "YOUR_WEBHOOKID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "AI Categorization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Categorization",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Categorization",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Categorization": {
      "main": [
        [
          {
            "node": "Normalized Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalized Labels": {
      "main": [
        [
          {
            "node": "Update Feedback Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Feedback Row": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Route by area",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by area": {
      "main": [
        [
          {
            "node": "Kitchen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delivery",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Service",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "YOUR_VERSIONID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCEID"
  },
  "id": "4Ws64EjFu7cRUkWv",
  "tags": []
}