n8n-portfolio/workflows/sales-email-automation/workflow.json
{
  "name": "Sales Email Automation Assistant",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there I am Krish your Sales Automation Assistant",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "315db02f-ebfd-409b-8a64-1a8ec5b17a2e",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -64,
        144
      ],
      "webhookId": "YOUR_WEBHOOKID"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a professional marketing copy assistant.\n\nDetermine intent:\nIf cold email \u2192 intent = cold_email\nIf sales letter \u2192 intent = sales_letter\n\nGenerate persuasive, professional marketing copy.\n\nNever use placeholders like [Your Name] or [Company Name].\n\nIf sender details are not provided, generate realistic professional details including:\n- Full name\n- Job title\n- Company name\n- Email\n- Phone number\n\nPlace the full generated copy inside the \"content\" field.\n\nDo not write JSON manually.\nLet the structured output parser handle formatting."
        }
      },
      "id": "e9de2d31-f85d-4af7-9f34-078e8f2b906a",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        144
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.sessionId}}",
        "contextWindowLength": 10
      },
      "id": "7d02af20-9da6-44d3-ac53-56d1960dfe05",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        368
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        160,
        368
      ],
      "id": "1108faa8-cfe0-4828-8ef5-5f8b2657bed7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.output.intent}}",
                    "rightValue": "cold_email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "22231034-3afd-4e85-b64e-bf2bd2f86e4c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "877fcb61-e37a-4ceb-98b6-b6c7fb9e0eff",
                    "leftValue": "={{ $json.output.intent }}",
                    "rightValue": "sales_letter",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        624,
        144
      ],
      "id": "a3ecb3b2-9d16-4f93-ae44-ecaae1f6cf95",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d9ea925-d19c-414b-9a62-065e82ebcd3f",
              "name": "output.state",
              "value": "={{ $json.output.intent }}",
              "type": "string"
            },
            {
              "id": "a9a1c266-6ee6-4305-95f0-5800940134bd",
              "name": "output.cities[0]",
              "value": "={{ $json.output.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        48
      ],
      "id": "8de5041a-af42-48cf-9d9f-dfefc9314a43",
      "name": "Format Cold Email"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bef0e36d-34e1-446e-a041-f11a766f539e",
              "name": "output.state",
              "value": "={{ $json.output.intent }}",
              "type": "string"
            },
            {
              "id": "7a674034-e003-4163-add7-1ce97d9b2793",
              "name": "output.cities[0]",
              "value": "={{ $json.output.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        240
      ],
      "id": "a01af6c2-6841-4303-be75-c6458976364b",
      "name": "Sales Letter Path"
    },
    {
      "parameters": {
        "folderId": "default",
        "title": "={{$now.toISO() + \" - \" + $json.output.state}}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1072,
        48
      ],
      "id": "6346132d-37d0-44eb-9470-db036ace6f99",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "locationChoice": "location",
              "text": "={{ $('Format Cold Email').item.json.output.cities[0] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1296,
        48
      ],
      "id": "feee6622-402f-4f7f-96cf-cf0f14247ae3",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "default",
        "title": "={{$now.toISO() + \" - \" + $json.output.state}}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1072,
        240
      ],
      "id": "b2f6fb10-7f8d-49c6-a76f-8b26b2a83863",
      "name": "Create a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "locationChoice": "location",
              "text": "={{ $('Sales Letter Path').item.json.output.cities[0] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1296,
        240
      ],
      "id": "f58d5a19-b868-44b3-b527-eaa8857f1ff4",
      "name": "Update a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"type\": \"object\",\n  \"properties\": {\n    \"intent\": {\n      \"type\": \"string\"\n    },\n    \"content\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\"intent\", \"content\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        416,
        368
      ],
      "id": "305cf905-fca2-48a5-ab77-454656284550",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "Receives a message from the user through an external web chat interface and initiates a workflow.",
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        112
      ],
      "id": "f710b55b-b673-4c5c-903e-0bfa3db1b878",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "AI Agent connects to the Open AI chat Model, processes the input, and sends the email that was asked for.",
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        -48
      ],
      "id": "ce732e8e-d51f-4a96-9580-d19b5bf95871",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "The Open AI model is used to understand what the user wants and give them what they want.",
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        496
      ],
      "id": "02423db5-815a-4082-8ac9-219bae7c5cf9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Memory is set aside for the chat session.",
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        496
      ],
      "id": "138f0a85-80ed-4edb-a5bc-2d6a3d8c3502",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Rendering structured input to parse the JSON",
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        496
      ],
      "id": "1e43bfee-30a5-47a2-9389-b2d54ad5ff50",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Change the rule to match the template that was asked for.",
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        -32
      ],
      "id": "0f3a89be-a319-4728-8945-0593b749ce25",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "After filtering with switch, format the sales  email.",
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        816,
        432
      ],
      "id": "8ecd7221-77db-444a-9206-8c687407dcb4",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "After filtering with switch, format the colder email.",
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        816,
        -144
      ],
      "id": "ccb68472-dbe8-4de6-a813-db0d489d467e",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "Makes a document in Google",
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1056,
        -144
      ],
      "id": "e969a630-9c81-441b-9d1e-8bef4e370672",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "Makes a document in Google",
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        432
      ],
      "id": "09b28465-a95c-4c17-a98f-f19e075d44c7",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "The email format is updated to Google Doc. ",
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1296,
        -144
      ],
      "id": "011b11eb-43c8-41c2-9490-052f1ee5aa0c",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "The email format is updated to Google Doc. ",
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1296,
        432
      ],
      "id": "a93153ec-1065-47cb-8c54-03d9264a8564",
      "name": "Sticky Note11"
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Format Cold Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sales Letter Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Cold Email": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales Letter Path": {
      "main": [
        [
          {
            "node": "Create a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document1": {
      "main": [
        [
          {
            "node": "Update a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document1": {
      "main": [
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "YOUR_VERSIONID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCEID"
  },
  "id": "BFqEPCfyqVK75cIM",
  "tags": []
}